{% extends 'lab_4/layout/base.html' %} {% block content %}


<div class="tempatMilih">
    <h2>Pilih Untuk mengubah tema dibelakang</h2>
    <select class="pilihWarna" name="warna" id="color">
        <option value="padi"></option>
        <option value="merah">merah</option>
        <option value="biru">biru</option>
    </select>
    <br>
    <button class="tetapkanWarna">Pilih !</button>
</div>

<section name="chatBox">
    <div class="wrapper">
        <div class="chatBox">
            <div class="chatHead">
                <h2>Chat</h2>
                <img class="gambar activated" src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow" width="16">
            </div>
            <div class="chatBody">
                <div class="messageInsert">
                    <div class="pesanKirim">
                        <p class="nama">lio</p>
                        <div class="messageSend"></div>
                    </div>
                    <div class="pesanTerima">
                        <p class="nama">NTAH LAH</p>
                        <div class="messageReceive"></div>
                    </div>
                </div>
                <div class="chatText">
                    <form class="iniPesan" method="POST" action="lab_4/chat/tambah/">
                        {% csrf_token %}
                        <input class="isiChat" placeholder="Press Enter">
                        <button type="submit" style="display: none;"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}