* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {
    background: #f0f0f0;
    overflow-y: hidden;
    overflow-x: hidden;
}

h2,
p {
    color: #463d3d
}

.gambar {
    width: 300px;
    height: 300px;

    border-radius: 50%;
    background: url(2.jpg);
    margin: 5% auto 2% auto;
    background-repeat: no-repeat;
    box-shadow: #b3afaf 2px 5px 10px;
}

.nama {
    margin: 10px 42.5%;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.barBawah {
    width: 100%;
    height: 500px;
    background: #7563CA;
    border-radius: 5px;
}

.dataDiri {
    padding: 20px;
}

.dataDiri>h1 {

    margin-top: 1000px;
}

.dataDiri>h2 {
    padding: 10px;
    border-bottom: 1px solid black;
    width: 300px;
}

.dataDiri>p {
    padding: 10px;
}