{% block navbar%}
<div class="navbar">
    <ul>
        <li><a href="{%url 'guestBook:add_message' %}"> Buat Pesan</a></li>
        <li><a href="{% url 'guestBook:result_table' %}">Lihat Pesan</a></li>
    </ul>
</div>
{% endblock %}