* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 500ms;
}

body {
	background: #27353f;
	/* height: 10000px; */
	box-sizing: border-box;
	width: 100%;
}

ul {
	padding: 10px;
	margin-left: calc(50vw - 230px);
}

li {
	list-style-type: none;
	float: left;
	padding: 10px 10px;
	color: #686262;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

li:hover {
	color: #837c7c;
}

li:nth-child(1),
li:nth-child(2),
li:nth-child(3) {
	border-right: #313133 solid 2px;
}

video {
	width: 100%;
	height: 100%;
	position: relative;
}

.headingBar {
	min-height: 50px;
	background: #27353f;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.cover {
	width: 100%;
	height: 710px;
	opacity: 0.8;
	background: #19438a;
}

.cover > h1 {
	padding: 10% 0 0 0;
	opacity: 2;
	text-align: center;
	color: #ffffff;
	font-size: 100px;
}

.cover > p {
	font-size: 20px;
	color: white;
	text-align: center;
}

.video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

body > div > h1 {
	color: white;
	font-family: "eurostile", sans-serif;
	text-align: center;
}

.profile {
	height: 400px;
	width: 100%;
	background: #183a75;
	/* padding-top: 250px; */
}

.profile > h1 {
	color: white;
	text-align: center;
	padding: 90px;
	font-size: 50px;
	/* padding: 0 50% 0 0; */
}

.profile > .foto {
	height: 300px;
	width: 300px;
	background: url(../img/hahaha.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
	margin-left: 350px;
	/* margin-top: 100px; */
	box-shadow: #383737 2px 5px 10px;
	float: left;
	/* margin-top: 200px; */
}

.profile > p {
	width: 300px;
	height: 300px;
	background-color: aliceblue;
	float: left;
	margin-left: 100px;
	border-radius: 20px;
	padding: 20px;
	font-family: "eurostile", sans-serif;
	font-weight: 800;
	color: #241e1e;
	text-align: center;
	/* margin-top: 200px; */
}

.slash {
	width: 50%;
	margin-top: 100px;
	margin-left: 25%;
	margin-right: 25%;
	height: 1px;
	background-color: rgb(87, 81, 81);
	box-shadow: #f0f0f0 10px 10px 50px;
	margin-bottom: 100px;
}

.slash.exeption {
	width: 50%;
	margin-top: 300px;
	margin-left: 25%;
	margin-right: 25%;
	height: 1px;
	background-color: black;
	box-shadow: #f0f0f0 10px 10px 50px;
	margin-bottom: 100px;
}

.pendidikan {
	height: border-box;
	width: 100%;
	background: #183a75;
	border-radius: 20px;
	font-family: "eurostile", sans-serif;
	color: white;
}

.pendidikan > h1 {
	text-align: center;
	padding: 10px;
	/* margin */
}

.satuanPendidikan {
	padding: 50px 200px;
	background: #2a4f8d;
	/* max-height: 355px; */
}

.satuanPendidikan > h1 {
	min-width: 200px;
	max-width: 700px;
	float: left;
	margin: 2px;
}

.satuanPendidikan > h2 {
	float: right;
}

.satuanPendidikan > p {
	clear: both;
}

.pengalaman {
	color: white;
	font-family: "eurostile", sans-serif;
	width: 100%;
	background: #183a75;
	height: 500px;
	border-radius: 20px;
}

.pengalaman > h1 {
	text-align: center;
	padding: 40px;
}

.pengalaman > .satuanPengalaman {
	width: calc(100% / 3);
	box-sizing: border-box;
	float: left;
	text-align: center;
	background: #2a4f8d;
	padding: 45px;
	border: #183a75 solid 0.5px;
	/* max-height: 445px; */
}

.satuanPengalaman > p {
	/* font-size: 25px; */
	height: 100px;
	margin-bottom: 150px;
}

.master {
	background: #183a75;
	width: 100%;
	min-height: 500px;
	max-height: 1500px;
	font-family: "eurostile", sans-serif;
	box-sizing: border-box;
}

.master > h1 {
	text-align: center;
	color: white;
	padding: 20px;
}

.satuanMaster {
	padding-left: 300px;
	width: 100%;
	height: 130px;
}

.satuanMaster > img {
	width: 100px;
	height: 100px;
	/* max-width: 200px; */
	margin: 10px;
	float: left;
}

.satuanMaster > .barMaster {
	height: 20px;
	width: 700px;
	float: left;
	background: #2a4f8d;
	margin-top: 60px;
	border-radius: 20px;
	/* text-align: center; */
}
.barMaster > .progressbar {
	background: green;
	width: 100%;
	height: inherit;
	border-radius: inherit;
	text-align: center;
}

.portfolio {
	width: 100%;
	/* height: 5000px; */
	box-sizing: border-box;
	background: #183a75;
}

.portfolio > h1 {
	padding: 40px;
	color: white;
	text-align: center;
	font-family: "eurostile", sans-serif;
}

.tempatPortfolio > img {
	/* margin: 10%; */
	width: 75%;
	border-radius: 20px;
	margin-left: 12.5%;
	margin-top: 50px;
	/* height: 300px; */
}

.copyright {
	height: 50px;
	width: 100%;
	background: #f0f0f0;
	border-radius: 20px 20px 0 0;
	text-align: center;
	font-family: "eurostile", sans-serif;
	padding: 10px;
}
