{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href='{% static "src/my_experience.css"%}' />
    <link rel="stylesheet" href="../static/src/my_experience.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Oswald|Roboto&display=swap" rel="stylesheet" />
    <!-- TODO pasang nama document menggunakan data dari views.py -->
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <ul>
            <li class="first active" onclick="">home</li>
            <li class="second">experience</li>
            <li class="third">education</li>
            <li class="fourth">project</li>
            <li class="fifth">skills</li>
        </ul>
    </div>
    <div class="fotoUtama">
        <div class="gambar"></div>
        <div class="tampilanNama">
            Halo Nama Saya <br />
            {{ nama }}!
        </div>
    </div>
    <div class="tampilanData">
        <div class="data">
            <h1 class="biodataH1">BIODATA</h1>
            <p class="namaLengkap">Nama Lengkap : Muhammat Lio Pratama</p>
            <p class="tempatTanggalLahir">TTL: Jambi, 22 Agustus 2001(sekarang masih 17 hehe: )</p>
            <p class="harapan">Harapan : Biar bisa menambah ilmu dan dapat bertemu orang - orang baru serta dapat
                menjadi manusia yang bermanfaat</p>
            <p class="motto">Motto: Perlakukanlah orang lain sebagaimana engkau ingin diberlakukan</p>
        </div>
    </div>
</body>
<script src="{% static 'src/jquery.min.js' %}"></script>
<script src="{% static 'src/my_experience.js' %}"></script>
<script src="../static/src/jquery.min.js"></script>
<script src="../static/src/my_experience.js"></script>



</html>