    * {
        padding: 0;
        margin: 0;
        font-family: 'Fira Code';
        transition-duration: 500ms;
    }
    
    body {
        height: 100%;
        background: #95a5a6;
    }
    
    .warningUsername {
        z-index: 9999;
        background-color: rgba(78, 80, 73, 0.75);
        width: 100%;
        height: 100%;
        position: fixed;
        text-align: center;
        display: none;
    }
    
    .warningUsername h1 {
        margin-top: calc(50vh - 150px);
    }
    
    .warningUsername input {
        border: none;
        border-bottom: 2px #000000 solid;
        padding: 20px;
        margin: 20px;
        width: 50%;
        background: transparent;
        font-size: 30px;
    }
    
    .chatBox {
        position: absolute;
        right: 20px;
        bottom: 0px;
        background: white;
        width: 400px;
        border-radius: 5px 5px 0 0;
    }
    
    .chatHead {
        width: inherit;
        height: 100%;
        background: #2c3e50;
        border-radius: 5px 5px 0 0;
    }
    
    .chatHead h2 {
        color: white;
        padding: 8px;
        display: inline-block;
    }
    
    .chatHead img {
        cursor: pointer;
        float: right;
        width: 25px;
        margin: 10px;
        transform: rotate(180deg);
    }
    
    .chatHead img.activated {
        transform: rotate(0deg);
    }
    
    .chatBody {
        height: 355px;
        width: inherit;
        overflow: auto;
        margin-block: 45px;
    }
    
    .chatBody.activated {
        height: 0px;
        margin-block: 0px;
    }
    
    .chatText {
        position: fixed;
        bottom: 0;
        height: 45px;
        width: inherit;
    }
    
    .chatText.activated {
        display: none;
    }
    
    .chatText input {
        width: 100%;
        height: inherit;
        box-sizing: border-box;
        border: 1px solid #bdc3c7;
        padding: 10px;
        resize: none;
    }
    
    .chatText input:active,
    .chatText input:focus,
    .chatText input:hover {
        border-color: royalblue;
    }
    
    .pesanTerima {
        margin-left: 10px;
    }
    
    .pesanKirim {
        margin: 10px 5px 10px 30%;
    }
    
    .pesanKirim p {
        text-align: right;
        margin-right: 20px;
    }
    
    .nama {
        margin: 0 0 0 5px;
    }
    
    .messageSend {
        background: #2ecc71;
    }
    
    .messageReceive {
        background: #3498db;
    }
    
    .messageSend {
        min-width: 200px;
        max-width: 300px;
        min-height: 35px;
        box-sizing: border-box;
        padding: 5px 5px 5px 10px;
        border-radius: 20px;
        line-height: 30px;
        /* position: relative; */
        color: white;
    }
    
    .messageReceive {
        min-width: 200px;
        max-width: 300px;
        min-height: 35px;
        box-sizing: border-box;
        padding: 5px 5px 5px 10px;
        border-radius: 20px;
        line-height: 30px;
        /* position: relative; */
        color: white;
    }
    
    .messageReceive:hover,
    .messageSend:hover {
        opacity: 0.9;
    }
    
    .messageInsert {
        height: 100%;
    }