* {
    padding: 0;
    margin: 0;
    font-family: 'Fira Code';
    transition-duration: 500ms;
}

body {
    height: 100%;
    background: #95a5a6;
}

.chatBox {
    position: absolute;
    right: 20px;
    bottom: 0px;
    background: white;
    width: 300px;
    border-radius: 5px 5px 0 0;
}

.chatHead {
    width: inherit;
    height: 100%;
    background: #2c3e50;
    border-radius: 5px 5px 0 0;
}

.chatHead h2 {
    color: white;
    padding: 8px;
    display: inline-block;
}

.chatHead img {
    cursor: pointer;
    float: right;
    width: 25px;
    margin: 10px;
    transform: rotate(180deg);
}

.chatHead img.activated {
    transform: rotate(0deg);
}

.chatBody {
    height: 355px;
    width: inherit;
    overflow: auto;
    margin-block: 45px;
}

.chatBody.activated {
    height: 0px;
    margin-block: 0px;
}

.chatText {
    position: fixed;
    bottom: 0;
    height: 45px;
    width: inherit;
}

.chatText.activated {
    display: none;
}

.chatText textarea {
    width: inherit;
    height: inherit;
    box-sizing: border-box;
    border: 1px solid #bdc3c7;
    padding: 10px;
    resize: none;
}

.chatText textarea:active,
.chatText textarea:focus,
.chatText textarea:hover {
    border-color: royalblue;
}

.messageSend {
    background: #2ecc71;
}

.messageReceive {
    background: #3498db;
}

.messageSend,
.messageReceive {
    width: 200px;
    height: 35px;
    padding: 5px 5px 5px 10px;
    margin: 10px auto;
    border-radius: 3px;
    line-height: 30px;
    position: relative;
    color: white;
}

.messageReceive::before {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border: 15px solid;
    border-color: transparent #3498db transparent transparent;
    left: -29px;
    top: 7px;
}

.messageSend::after {
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    border: 15px solid;
    border-color: transparent transparent transparent #2ecc71;
    right: -29px;
    top: 2.5px;
}

.messageReceive:hover,
.messageSend:hover {
    opacity: 0.9;
}