{% load staticfiles %} {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="LAB 4">
    <meta name="author" content="{{author}}">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab_4.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <title>{% block title %} LAB 4 by {{author}} {% endblock %}</title>

</head>

<body>
    <div class="headingBar">
        <ul>
            <li>HOME</li>
            <a href="#profile">
                <li>PROFILE</li>
            </a>
            <a href="#experienceSkill">
                <li>RESUME</li>
            </a>
            <a href="#portfolio">
                <li>PORTFOLIO</li>
            </a>
        </ul>
    </div>
    <div class="cover">
        <h1>𝙃𝘼𝙄, 𝙎𝘼𝙔𝘼 𝙇𝙄𝙊</h1>
        <p>Seorang programmer muda</p>
        <p>#Beling2019</p>
    </div>
    <div class="video">
        <video autoplay muted loop>
            <source src="../static/mp4/1.mp4" />
        </video>
    </div>

    <!-- todo  1. Menu Proﬁle, berisi: nama, deskripsi diri, email, dan sosial media  -->
    <!-- todo  2. Menu Resume, berisi: latar belakang pendidikan, pengalaman pekerjaan dan organisasi, kepanitiaan dan prestasi, serta bahasa pemrograman+framework dan organisasi -->
    <!-- todo  3. Menu portofolio, berisi screenshot/link ke karya-karya yang sudah kamu buat selama ini -->

    <div class="content">
        {% block content %}{%endblock%}
        <a name="profile">
            <div class="profile">
                <h1>profil</h1>
                <div class="foto"></div>
                <p>
                    HALO, Perkenalkan Nama Saya muhammat lio pratama. Seorang Pemogram web yang sudah mengenal web programming sejak kelas 2 sma. dalam program kelas online belajar programming (beling) ini saya harap saya mendapatkan ilmu mengenai pemograman django serta
                    dapat mengenal lebih banyak orang yang lebih berpengalaman dari pada saya. sekian terimakasih
                </p>
            </div>
        </a>

        <div class="data"></div>
    </div>
    <div class="slash exeption"></div>

    <div class="pendidikan">
        <h1>Latar Pendidikan</h1>

        <!-- <p>berikut adalah latar pendidikan saya</p> -->
        <div class="satuanPendidikan">
            <h1>SD ISLAM AL - FALAH</h1>
            <h2>2006 - 2013</h2>
            <br />
            <p>
                Jl. Sultan Thaha No.58-B, Legok, Kec. Telanaipura, Kota Jambi, Jambi 36112
            </p>
        </div>
        <div class="satuanPendidikan">
            <h1>MTS 2 KOTA JAMBI</h1>
            <h2>2013 - 2016</h2>
            <br />
            <p>
                Jl. Adityawarman No.05, The Hok, Kec. Jambi Sel., Kota Jambi, Jambi 36125
            </p>
        </div>
        <div class="satuanPendidikan">
            <h1>MAN INSAN CENDEKIA JAMBI</h1>
            <h2>2016 - 2019</h2>
            <br />
            <p>
                Jl. Lintas Jambi- Muaro Bulian KM. 21, Pijoan, Kec. Jambi Luar Kota, Kota Jambi, Jambi 36657
            </p>
        </div>
        <div class="satuanPendidikan">
            <h1>TELKOM UNIVERSITY (TEKNIK KOMPUTER)</h1>
            <h2>2019 - sekarang</h2>
            <br />
            <p>
                Jl. Telekomunikasi Jl. Terusan Buah Batu No.01, Sukapura, Kec. Dayeuhkolot, Kota Bandung, Jawa Barat 40257
            </p>
        </div>
    </div>

    <div class="slash"></div>
    <a name="experienceSkill">
        <div class="pengalaman">
            <h1>Daftar Pengalaman</h1>
            <div class="satuanPengalaman">
                <h1>Juara 3 Lomba Matematika SLTP</h1>
                <p>
                    IAIN SULTAN THAHA SYARIFUDDIN JAMBI
                </p>
                <h2>2016</h2>
            </div>
            <div class="satuanPengalaman">
                <h1>Ketua Tim Olimpiade Komputer</h1>
                <p>MAN INSAN CENDEKIA JAMBI</p>
                <h2>2018 - 2019</h2>
            </div>
            <div class="satuanPengalaman">
                <h1>Ketua TIM Komisi Pemilihan OSIM & MPS</h1>
                <p>MAN INSAN CENDEKIA JAMBI</p>
                <h2>2018</h2>
            </div>
        </div>
    </a>
    <div class="slash"></div>

    <div class="master">
        <h1>Skill Pemograman</h1>
        <div class="satuanMaster">
            <img src="../static/img/htmlLogo.png" alt="INI GAMBAR HTML 5!" />
            <div class="barMaster">
                <div class="progressbar" style="width: 85%;">85%</div>
            </div>
        </div>
        <div class="satuanMaster">
            <img src="../static/img/CSS3.svg" alt="INI LOGO CSS 3!" />
            <div class="barMaster">
                <div class="progressbar" style="width: 70%">70%</div>
            </div>
            <div></div>
        </div>
        <div class="satuanMaster">
            <img src="../static/img/javascriptLogo.svg" alt="" />
            <div class="barMaster">
                <div class="progressbar" style="width: 70%">70%</div>
            </div>
        </div>
        <div class="satuanMaster">
            <img src="../static/img/1280px-JQuery_logo_text.svg.png" alt="" />
            <div class="barMaster">
                <div class="progressbar" style="width: 60%">60%</div>
            </div>
        </div>
        <div class="satuanMaster">
            <img src="../static/img/phpLogo.svg" alt="" />
            <div class="barMaster">
                <div class="progressbar" style="width: 70%">70%</div>
            </div>
        </div>
        <div class="satuanMaster">
            <img src="../static/img/django-icon-0.svg" alt="" />
            <div class="barMaster">
                <div class="progressbar" style="width: 30%">30%</div>
            </div>
        </div>
    </div>
    <div class="slash"></div>
    <a name="portfolio">
        <div class="portfolio">
            <h1>Portfolio</h1>
            <div class="tempatPortfolio">
                <img src="../static/img/LOGIN.png" alt="" />
            </div>
            <div class="tempatPortfolio">
                <img src="../static/img/OSIM.png" alt="" />
            </div>
            <div class="tempatPortfolio">
                <img src="../static/img/MPS.png" alt="" />
            </div>
        </div>
    </a>
    <div class="copyright">
        <h3>Muhammat Lio Pratama © 2019</h3>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
    <script src="{% static 'js/lab_4.js' %}"></script>

</body>

</html>