{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>{{ page_name }}</title>
	<link rel="stylesheet" href='{% static "src/profil2.css"%}' />

</head>

<body>
	<div class="gambar"></div>
	<div class="nama">Muhammat Lio Pratama <br>
		<a href="my_experience">Klik Disini bujank</a></div>
	<div class="barBawah">
		<div class="dataDiri">
			<h2>Data Diri</h2>
			<p>
				Tempat Dan Tanggal Lahir : {{ tempat_lahir }}, {{ tanggal_lahir }}
				{{ bulan_lahir }} {{ tahun_lahir }} (umur sekarang {{ umur }})
			</p>
			<p>Pendidikan : Calon Mahasiswa Telkom University</p>
			<p>
				Harapan : Biar bisa menambah ilmu dan dapat bertemu orang - orang baru
				serta dapat menjadi manusia yang bermanfaat
			</p>
			<p>Motto : MUNTUN BERCANDA!1!1!</p>
			<h1>
				APA APAAN MAKSUD ANDA MELIHAT INI!! PADAHAL OVERFLOWNYA SUDAH DI
				HIDDEN
			</h1>
		</div>
	</div>
</body>

</html>