{% extends 'layout/base.html' %}
{% block title %} silahkan tulis pesan anda disini{% endblock %}
{% block content %}
<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'guestBook:add_message'  %}">
        {% csrf_token %}
        {{ message_form }} <br> <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <!-- <form action="#" method="post">
        <label for="id_nama">Nama: </label>
        <input type="text" name="id_nama" name="nama">
    </form>

    <a href="{% url 'guestBook:result_table'%}">perlihatkan hasil</a> -->

</section>
{%endblock%}